body{
	font-size:12px;
}

.title{
	width:100%;
	text-align:center;
	font-size:15px;
	color:#7EB5DC;
}

#toast{
	position: fixed;
	right:150%;
	top:10%;
	font-size:20px;
	padding:50px;
	box-shadow: 11px 11px 18px rgba(0, 0, 0, 0.4);
	visibility:hidden;
}

#toast.on{
	right:20%;
	visibility:visible;
}

#toast h4{
	color:#f3f3f3;
}

#msgWall{
	display:block;
	width:100%;;
	padding-left:0px;
	font-size:13px;
}

#msgWall b{
	font-weight:bold;
}

#msgWall li{
	padding: 10px;
	color: #fff;
	background-color:#7EB5DC;
}

#msgWall li:first-child{
	background-color:#0E72AE;
}

.wrapper{
	height:90%;
	width:100%;
	margin: 0;
}

.loader{
	height: 200px;
	width: 200px;
}

.splashScreen{
	text-align:center;
	margin:0 auto;
	margin-top:10%;
}

.starter{
	margin: 80px;
}

.navbar{
	margin-bottom: 0px;
}

#logo{
	background-image:url('../img/topBarLogo.png');
	background-repeat: no-repeat;
	background-position:center;
	background-size:25%;
	margin-left:0px;
	width: 29%;
	height:100%;
	display:inline-block;
}

.webv{
	width:100%;
	height:100%;
	visibility: visible;
}

#articles{
	text-align:center;
}

#newGame{
	margin-top:60px;
}

#newGame.on{
	display:block;
}

#curtain{
	position: fixed;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-color:rgba(0, 45, 83, 1);
	visibility: hidden;
	pointer-events:none;
	z-index:100;
}

#scoreBox.on{
	display:block;
}

#curtain.on{
	visibility:visible;
	pointer-events:auto;
}

#scoreBox{
	position:fixed;
	display:none;
	left:0;
	top: 20%;
	z-index:101;
	width:100%;
	height:100%;
	text-align:center;
	color:#fff;
}

#scoreBox img{
	padding-top:30px;
}

#scoreBox h4{
	max-width: 700px;
	color: #888a8c;
	margin:0 auto;
	padding: 30px;
}

#scoreBox select{
	display: block;
	margin: 15px auto 0 auto;
	padding: 8px 16px;
	width:150px;
}

#scoreBox option{
	display:block;
	padding: 8px 16px;
}

#scoreBox button{
	margin: 15px auto 15px auto;
	display:block;
	background-color: #0c4c88;
	border-radius: 0px;
	border: 0px;
	padding: 15px 28px;
}

#scoreBox #newGame{
	margin-top:30px;
}

#scoreBox button:hover{
	background-color: white;
	padding: 15px 50px;
	color:#0c4c88;
}

.button{
	background-color: #0c4c88;
	padding: 10px 15px;
	color: #fff;
	font-size: 15px;
	border: none;
	border-radius: 5px;
}

.button:hover{
	color: #0c4c88;
	background-color:#fff;
}

.throbber{
	background-image:url('../img/ajax-loader.gif');
	background-repeat: no-repeat;
	background-position:center;
	margin:0 auto;
	width:100%;
	height:100%;
}

*{
	transition: all 0.5s ease-in;
}

#topBar{
	width:100%;
	box-sizing: border-box;
	background-color: #002E54;
	color:#fff;
	height:70px;
	overflow: hidden;
	margin: 0;
}

#topBar h2{
	margin: 0;
	padding: 25px;
	line-height: 20px;
	font-size: 20px;
	vertical-align: top;
	font-weight: bold;
	display: inline-block;
	box-sizing: border-box;
	width: 40%;
}

#topBar b{
	font-weight: regular;
}

html, body{
	margin: 0;
	height: 100%;
}

.starting-logo{
	margin-bottom: 30px;
}

#actions{
	height: 100%;
	vertical-align: top;
	margin-top: 20px;
	text-align: right;
	padding-right: 20px;
	width: 30%;
	display: inline-block;
}

.stats{
	position:fixed;
	bottom:100px;
	right:100px;
	z-index:50;
	background-color:rgba(0,0,0,0.8);
	color:#fff;
	padding: 10px 20px;
}




