body{
	font-size:12px;
}

.title{
	width:100%;
	text-align:center;
	font-size:15px;
	color:#7EB5DC;
}

#toast{
	position: fixed;
	right:20%;
	top:20%;
	color:#fff;
	background-color:blue;
	padding:20px;
	display:none;
}

#msgWall{
	display:block;
	width:100%;;

	font-weight:bold;
}

#msgWall li{
	padding: 10px;
	color: #fff;
	background-color:#7EB5DC;
}

#msgWall li:first-child{
	background-color:#0E72AE;
}